<div class="row">
    <div class="col-md-9">
        <h3>Volunteer Information</h3>
    </div>
    <div class="col-md-9">

        <form name="volunteer-form" role="form">
            <div class="row">
                <div form-group class="col-md-4" label="First Name">
                    <input type="text"
                           id="first_name"
                           placeholder="Enter First Name"
                           required
                           ng-model="model.first_name">
                </div>
                <div form-group class="col-md-4" label="Last Name">
                    <input type="text"
                           id="last_name"
                           placeholder="Enter Last Name"
                           required
                           ng-model="model.last_name">
                </div>
                <div form-group class="col-md-4" label="Email">
                    <input type="text"
                           id="email"
                           placeholder="Enter email"
                           ng-model="model.email">
                </div>
            </div>
            <div ng-repeat="phone in model.phones" class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span ng-click="deletePhone($index)"
                              class="glyphicon glyphicon-minus input-group-addon"></span>
                        <input type="text"
                               class="form-control"
                               placeholder="414-444-4444"
                               required
                               ng-model="phone.number">
                    </div>
                </div>
                <div class="col-md-4">
                    <select ng-model="phone.type"
                            class="form-control"
                            ng-options="key as label for (key, label) in metaData.entity.phone.types"
                            ></select>
                </div>
                <div class="col-md-2">
                    <div class="radio-inline">
                        <label for="phone-primary-{{ $index }}">
                        <input type="radio"
                               id="phone-primary-{{ $index }}"
                               ng-model="phone.primary"
                               ng-value="true"
                               ng-click="primaryPhone($index)">
                            <span ng-show="phone.primary">Primary</span></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button ng-click="addPhone()" class="form-control">Add</button>
                </div>
            </div>
            <div ng-repeat="address in model.addresses">
                <div class="row">
                    <div form-group class="col-md-12" label="Address Line 1">
                        <input type="text"
                               id="address_line1"
                               placeholder="Enter line1"
                               required
                               ng-model="address.line1">
                    </div>
                </div>
                <div class="row">
                    <div form-group class="col-md-12" label="Address Line 2">
                        <input type="text"
                               id="address_line2"
                               placeholder="Enter line2"
                               ng-model="address.line2">
                    </div>
                </div>
                <div class="row">
                    <div form-group class="col-md-4" label="City">
                        <input type="text"
                               id="city"
                               placeholder="Enter city"
                               required
                               ng-model="address.city">
                    </div>
                    <div form-group class="col-md-4" label="State">
                        <select ng-model="address.state"
                                id="state"
                                ng-options="key as label for (key, label) in metaData.entity.address.states"
                                ></select>
                    </div>
                    <div form-group class="col-md-4" label="Postal Code">
                        <input type="text"
                               id="postalCode"
                               placeholder="Enter postalCode"
                               required
                               ng-model="address.postalCode">
                    </div>
                </div>
            </div>
            <div class="row">
                <div form-group class="col-md-12" label="Notes">
                    <textarea id="notes"
                            ng-model="model.notes"
                            placeholder="Enter Notes"></textarea>
                </div>
            </div>

            <hr>
            <h4>Skills</h4>
            <div class="row">
                <div class="col-md-2" ng-repeat="(key, value) in metaData.volunteer.skill.types">
                    <div class="checkbox-inline">
                        <label for="skill-{{key}}">
                            <input type="checkbox"
                                   ng-model="skills[key]"
                                   ng-change="toggleSkill(key)"
                                   id="skill-{{ key }}">
                            {{ value }}</label>
                    </div>
                </div>
            </div>

            <hr>
            <h4>Emergency Contact</h4>
            <div class="row">
                <div form-group class="col-md-6" label="Contact Name">
                    <input type="text"
                           id="contact-name"
                           placeholder="Enter Contact Name"
                           ng-model="model.volunteer_information[0].emergency_contact_name"/>
                </div>
                <div form-group class="col-md-6" label="Contact Number">
                    <input type="text"
                           id="contact-number"
                           placeholder="Enter Contact Number"
                           ng-model="model.volunteer_information[0].emergency_contact_number"/>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="checkbox-inline">
                        <label for="active">
                            <input type="checkbox"
                               id="active"
                               ng-model="model.volunteer_information[0].active"/>
                            Active</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit"
                            class="form-control bnt btn-primary"
                            ng-click="save()">Save</button>
                </div>
                <div class="col-md-4">
                    <button type="submit"
                            class="form-control bnt"
                            ng-click="saveAndNew()">Save and Add Another</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-3">
        <div name="communications" ng-show="model.id">
            <h4>Communications</h4>
            <div class="row" ng-hide="currentCommunication">
                <button class="form-control"
                        ng-click="createCommunication()">Add Communication</button>
            </div>
            <form name="communications-form" ng-show="currentCommunication">
                <div class="row">
                    <div class="col-md-8" label="Date">
                        <p class="input-group">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="yyyy-MM-dd"
                                   ng-model="currentCommunication.date"
                                   is-open="commDateOpened"
                                   ng-required="true"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="commDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox-inline">
                            <label for="connected">
                                <input type="checkbox"
                                       id="connected"
                                       ng-model="currentCommunication.connected">
                                Connected
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="communication-type">Type</label>
                        <select ng-model="currentCommunication.type"
                                id="communication-type"
                                class="form-control"
                                ng-options="key as label for (key, label) in metaData.entity.communication.types"
                                ></select>
                        </div>
                </div>
                <div class="row">
                    <div form-group class="col-md-12" label="Notes">
                        <textarea id="communication-notes"
                                  placeholder="Enter Contact Notes"
                                  ng-model="currentCommunication.notes"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="form-control" type="submit" ng-click="saveCommunication()">Save</button>
                    </div>
                    <div class="col-md-6">
                        <button class="form-control"  ng-click="cancelCommunication()">Cancel</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <tbody>
                        <tr ng-repeat="communication in model.communications" ng-class="{success: communication.connected}">
                            <td><span ng-click="deleteCommunication($index)"
                                      class="glyphicon glyphicon-minus"></span></td>
                            <td><span ng-click="editCommunication($index)"
                                      class="glyphicon glyphicon-pencil"></span></td>
                            <td>{{ communication.date | date : 'MM/dd/yy' }}</td>
                            <td>{{ metaData.entity.communication.types[communication.type] }}</td>
                            <td class="overflow" style="max-width: 110px">{{ communication.notes }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>