<h2>Volunteer Information</h2>

<div name="volunteer-form">
<input type="text"
       placeholder="First Name"
       ng-model="model.first_name">

<input type="text"
       placeholder="Last Name"
       ng-model="model.last_name">

<input type="text"
       placeholder="email"
       ng-model="model.email">
<br>
<div ng-repeat="phone in model.phones">
    <input type="text"
           placeholder="414-444-4444"
           ng-model="phone.number">
    <select ng-model="phone.type"
            ng-options="key as label for (key, label) in metaData.entity.phone.types"
            ></select>
    <input type="radio"
           name="phone-primary"
           ng-model="phone.primary"
           ng-value="true"
           ng-click="primaryPhone($index)">
    <button ng-click="deletePhone($index)">-</button>
</div>
<button ng-click="addPhone()">+</button>
<br>
<div ng-repeat="address in model.addresses">
    <input type="text"
           placeholder="line1"
           ng-model="address.line1">
    <input type="text"
           placeholder="line2"
           ng-model="address.line2">
    <input type="text"
           placeholder="city"
           ng-model="address.city">
    <select ng-model="address.state"
            ng-options="key as label for (key, label) in metaData.entity.address.states"
            ></select>
    <input type="text"
           placeholder="postalCode"
           ng-model="address.postalCode">
</div>
<br>
<textarea ng-model="model.notes" placeholder="Notes"></textarea>
<br>
    <h3>Skills</h3>
    <input type="checkbox"
            ng-repeat-start="(key, value) in metaData.volunteer.skill.types"
            ng-model="skills[key]"
            ng-change="toggleSkill(key)"
            id="skill-{{ key }}">
    <label ng-repeat-end for="skill-{{ key }}">{{ value }}</label>
    <h3>Emergency Contact</h3>
    <input type="text"
           placeholder="Name"
           ng-model="model.volunteer_information[0].emergency_contact_name"/>
    <input type="text"
           placeholder="Number"
           ng-model="model.volunteer_information[0].emergency_contact_number"/>
    <br>
    <input type="checkbox"
           id="active"
           ng-model="model.volunteer_information[0].active"/>
    <label for="active">Active</label>
    <br>
<button type="submit" ng-click="save()">Save</button>
</div>

<div name="communications">
    <h3>Communications</h3>
<button ng-click="createCommunication()" ng-show="! newCommunication">+</button>
<div name="communications-form" ng-show="newCommunication">
    <input type="checkbox"
           id="connected"
           ng-model="newCommunication.connected">
    <label for="connected">Connected</label>
    <input type="text"
           placeholder="YYYY-MM-DD"
           ng-model="newCommunication.date">
    <select ng-model="newCommunication.type"
            ng-options="key as label for (key, label) in metaData.entity.communication.types"
            ></select>
    <textarea placeholder="Notes"
              ng-model="newCommunication.notes"></textarea>
    <button type="submit" ng-click="saveNewCommunication()">Save</button>
    <button ng-click="cancelNewCommunication()">Cancel</button>
</div>
<div ng-repeat="communication in model.communications">
    <span>{{ communication.date }}</span>
    <span>{{ communication.type }}</span>
    <button ng-click="deleteCommunication($index)">-</button>
</div>
</div>