<div class="row">
    <div class="col-md-9">
        <h3>Donor Information</h3>
    </div>
    <div class="col-md-9">

        <form name="donor-form" role="form">
            <ng-include src="'views/entity/entity_main.html'"></ng-include>

            <div class="row">
                <div form-group class="col-md-4" label="Category">
                    <select ng-model="model.donor_information[0].category"
                            id="donor_category"
                            ng-options="key as label for (key, label) in metaData.donor.donor_information.categories"
                            ></select>
                </div>
                <div form-group class="col-md-4" label="Type">
                    <select ng-model="model.donor_information[0].type"
                            id="donor_type"
                            ng-options="key as label for (key, label) in metaData.donor.donor_information.types"
                            ></select>
                </div>
            </div>

            <hr>
            <h4>Donations</h4>

            <div class="row" ng-form="donation-form">
                <div  ng-if="currentDonation" class="col-md-12">
                    <div class="row">

                        <div class="col-md-4 form-group ng-isolate-scope" ng-class="{ error: isError }">
                            <label for="donation-date" class="ng-binding">Date</label>
                            <span class="input-group">
                                <input type="text"
                                   class="form-control"
                                   datepicker-popup="yyyy-MM-dd"
                                   ng-model="currentDonation.date"
                                   id="donation-date"
                                   name="donation-date"
                                   is-open="donationDateOpened"
                                   ng-required="true"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="donationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </span>
                        </div>
                        <div form-group class="col-md-4" label="Type">
                            <select ng-model="currentDonation.type"
                                    id="donation_type"
                                    ng-options="key as label for (key, label) in metaData.donor.donation.types"
                                    ></select>
                        </div>
                        <div form-group class="col-md-4" label="Amount">
                            <input type="text"
                                   id="donation_amount"
                                   placeholder="100.00"
                                   required
                                   ng-model="currentDonation.monetary_amount">
                        </div>
                    </div>
                    <div class="row">
                        <div form-group class="col-md-12" label="Donation Notes">
                            <textarea id="donation_notes"
                                      ng-model="currentDonation.notes"
                                      placeholder="Enter Notes"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button class="form-control" type="submit" ng-click="saveDonation()">Add</button>
                        </div>
                        <div class="col-md-3">
                            <button class="form-control"  ng-click="cancelDonation()">Cancel</button>
                        </div>
                    </div>
                </div>
                <div ng-if="!currentDonation" class="col-md-12">
                    <div class="col-md-3">
                    <button class="form-control"
                            ng-click="createDonation()">Add Donation</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <tbody>
                        <tr ng-repeat="donation in model.donor_information[0].donations">
                            <td><span ng-click="deleteDonation($index)"
                                      class="glyphicon glyphicon-minus"></span></td>
                            <td><span ng-click="editDonation($index)"
                                      class="glyphicon glyphicon-pencil"></span></td>
                            <td>{{ donation.date | date : 'MM/dd/yy' }}</td>
                            <td>{{ metaData.donor.donation.types[donation.type] }}</td>
                            <td>{{ donation.monetary_amount }}</td>
                            <td class="overflow" style="max-width: 110px">{{ donation.notes }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-md-4">
                    <button type="submit"
                            class="form-control bnt btn-primary"
                            ng-click="save()">Save</button>
                </div>
                <div class="col-md-4">
                    <button type="submit"
                            class="form-control bnt"
                            ng-click="saveAndNew()">Save and Add Another</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-3">
        <ng-include src="'views/entity/entity_communications.html'"></ng-include>
    </div>
</div>